# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# PyCharm
.idea/
*.iml
*.ipr
*.iws

# Database
*.sqlite3
*.db

# Environment
.env
venv/
env/

# Build
build/
dist/
*.egg-info/

# macOS
.DS_Store

# Windows
Thumbs.db